/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*  !========> App <========! */

:root {
  --blue: #307df6;
  --white: #f4f6ff;
  --gray: #4e596b;
  --red: #ff3333;
}

@font-face {
  font-family: "Inter";
  src: url("fonts/Inter-Regular.ttf");
}
@font-face {
  font-family: "Inter-Bold";
  src: url("fonts/Inter-Bold.ttf");
}

html {
  box-sizing: border-box;
  font-size: 10px;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}
body {
  font-family: "Inter", sans-serif;
  line-height: 1.4;
  font-size: 1.6rem;

  display: flex;
  align-items: center;
  justify-content: center;

  min-height: 100vh;

  padding-right: 1.5rem;
  padding-left: 1.5rem;

  user-select: none;
}

.sudoku {
  width: 50rem;
  min-height: 50rem;

  padding: 2.8rem 6rem 1.7rem;

  background-image: linear-gradient(
    to bottom,
    var(--blue) 45%,
    var(--white) 45%
  );

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  position: relative;

  text-align: center;
}
.shape {
  top: 4.3rem;
  position: absolute;
}

/* !===> Nav <===! */
.nav {
  width: 100%;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav__head {
}
.nav__title {
  font-size: 6.4rem;
}
.nav__username {
  display: none;
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 0.088rem;
  filter: opacity(0.7);
  text-transform: uppercase;
  text-align: left;
}

/* !===> Level <===! */
.level {
  flex-direction: column;
  align-items: center;

  display: none;
}
.level__title {
  font-size: 0.8rem;
  font-weight: 700;
  letter-spacing: 0.088rem;
}
.level__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.4rem;
}
.level__number {
  font-size: 2.4rem;
}
.level__step {
  width: 2.4rem;
  height: 2.4rem;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  border: 0.1rem solid #fff;
  cursor: pointer;
  transition: all 0.3s ease;
}
.level__step::after,
.level__step::before {
  content: "";
  position: absolute;
  width: 0.6rem;
  height: 0.15rem;
  background-color: #fff;
  transition: all 0.3s ease;
}
.level__step:hover {
  background-color: #fff;
}
.level__step:hover::after,
.level__step:hover::before {
  background-color: var(--blue);
}
.level__step--inactive {
  opacity: 0.3;
  cursor: not-allowed;
}
.level__step--inactive:hover {
  background-color: transparent;
}
.level__step--inactive:hover::after,
.level__step--inactive:hover::before {
  background-color: #fff;
}
.level__previous {
}

.level__previous::after,
.level__previous::before {
  transform-origin: left;
  transform-origin: left;
  border-radius: 0 1rem 1rem 0;
}
.level__previous::after {
  transform: rotate(45deg);
}
.level__previous::before {
  transform: rotate(-45deg);
}

.level__next {
}

.level__next::after,
.level__next::before {
  transform-origin: right;
  transform-origin: right;
  border-radius: 1rem 0 0 1rem;
}
.level__next::after {
  transform: rotate(45deg);
}
.level__next::before {
  transform: rotate(-45deg);
}

/* !===> Board <===! */

.board {
  display: none;
  flex-wrap: wrap;
  width: 38rem;
  height: 38rem;
  box-shadow: 0px 8px 16px 0px rgba(5, 74, 183, 0.2);
  border-radius: 0.8rem;
  overflow: hidden;
  background: #d7e1f4;

  gap: 0.1rem;
}
.board__row {
  width: 100%;
  height: 4.089rem;
  display: flex;

  gap: 0.1rem;
}
.board__row:nth-child(3),
.board__row:nth-child(6) {
  margin-bottom: 0.2rem;
}
.cell {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.4rem;
  flex-grow: 1;
  width: 4.089rem;

  height: 100%;
  background-color: var(--white);
  color: var(--blue);
  position: relative;
}
.cell:nth-child(3),
.cell:nth-child(6) {
  margin-right: 0.2rem;
}
.cell[data-default="true"] {
}
.cell[data-default=""] {
  cursor: pointer;
  color: inherit;
}
.cell[data-default=""]::before {
  content: "";
  width: 85%;
  height: 85%;
  position: absolute;
  border-radius: 0.4rem;
}

.cell[data-default=""]:hover::before {
  opacity: 0.1;
  background: var(--blue);
}
.cell[data-default=""].selected::before {
  border: 2px solid #307df6;
  background: #fff;
  opacity: 1;
}
.group::before {
  content: "";
  width: 85%;
  height: 85%;
  position: absolute;
  border-radius: 0.4rem;
  background: var(--blue);
  opacity: 0.1;
}
/* !===> Numbers <===! */

.numbers {
  display: none;
  height: 4.089rem;
  gap: 0.1rem;
  width: 38rem;
  border-radius: 0.8rem;

  background: #d7e1f4;
  box-shadow: 0px 8px 16px 0px rgba(5, 74, 183, 0.2);
  overflow: hidden;
}
.number {
  font-size: 1rem;
  color: var(--blue);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.4rem;
  flex-grow: 1;
  width: 4.089rem;
  height: 100%;
  background-color: var(--white);
  font-weight: 800;
  transition: all 0.3s ease;
  cursor: pointer;
}

.number:hover {
  background-color: var(--blue);
  color: #fff;
}
/* !===> Option btn <===! */

.option-btn {
  width: 100%;
  gap: 1rem;
  justify-content: space-between;
  display: none;
}
.remove-numbers {
}
.restart {
}
button:hover {
  cursor: pointer;
  background-color: var(--blue);
  color: #fff;
}
.btn {
  color: var(--blue);
  background-color: transparent;
  border: 2px solid var(--blue);
  border-radius: 2.4rem;
  padding: 0.8rem 3.2rem;
  letter-spacing: 0.08rem;
  font-weight: 800;
  text-transform: uppercase;
  text-align: center;
  transition: all 0.3s ease;
  font-size: 1rem;
}

/* !===> Guid <===! */

.guide {
  font-size: 1.2rem;
  color: var(--gray);
  max-width: 26rem;
  margin-top: 5.2rem;
}
.bold {
  font-weight: 700;
}

/* !===> start <===! */
.start {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: var(--blue);
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.start__play,
.start__username {
  height: 4.2rem;
}
.start__username {
  font-size: 1.2rem;
  outline: none;
  caret-color: #87cefa;
}
.start__username::placeholder {
  color: inherit;
}
.start__username.invalid {
  border-color: var(--red);
  color: var(--red);
}

.start__play {
  font-size: 1.6rem;
}

/* !===> Play <===! */
.play .sudoku {
  gap: 1.6rem;
}
.play .shape {
  display: none;
}
.play .nav {
  justify-content: space-between;
}
.play .nav__title {
  font-size: 2.4rem;
}
.play .level {
  display: flex;
}
.play .sudoku {
  justify-content: space-between;
}
.play .start {
  display: none;
}
.play .guide {
  text-align: left;
  font-size: 1rem;
  filter: opacity(0.7);
  max-width: none;
  margin-top: 0;
}
.play .board {
  display: flex;
}
.play .option-btn {
  display: flex;
}
.play .nav__username {
  display: block;
}
.play .numbers {
  display: flex;
}
